
@bgheight:100%;
@envoc-color:#bbd84e;

html,body{
  height:100%;
  min-height:1000px;
}

body{
  height:@bgheight;
  background-color:white;
  font: normal large verdana,arial,helvetica,sans-serif;
}

ul{
  list-style-type: none;
  padding:5px;
  margin:0;
}

.main-content{
  height:100%;
}

.outline{
  border:1px solid black;
}

.createpost{
  padding:10px;
}
.createpost-contents{

}

.createpost-buttons{

}

.title{
  font-size: 16px;
}

.postlist-item{
  height:70px;
  padding:10px;
}

.post-img{
  height:40px;
  width:auto;
  display:inline;
}

.post-heading{
  text-transform: capitalize;  
  font-weight: bold;
}

.create-comment-box{
  overflow:hidden;
  padding:10px;
  width:50%;
}
.create-comment-textarea{
  margin-bottom:5px;
}
.comment{
  padding:10px;
}