
@bgheight:100%;
@envoc-color:#bbd84e;

html,body{
  height:100%;
  min-height:1000px;
}
body{
  height:@bgheight;
  background-color:#ededed;
  font: normal large verdana,arial,helvetica,sans-serif;
}

h3{
  margin:10px 0 10px 0;  
}
.btn-default{
  background-color:#dcdcdc;
}
.panel-default>.panel-heading{
  background-color:#dcdcdc;
}
ul{
  list-style-type: none;
  padding:5px;
  margin:0;
}
.angular-ui-tree-empty{
  background-image: none;
  background-color:transparent;
  border:none;
}
.main-content{
  height:100%;
}
.postlist{
  padding:0;
}
.postlist-wrapper {
  min-height:200px;
  padding:20px;
}

.outline{
  border:1px solid black;
}

.createpost{
  padding:10px;
}
.createpost-contents{

}

.createpost-buttons{
  padding-top:10px;
}

.title{
  font-size: 16px;
}

.postlist-item{
  height:70px;
  padding:10px;
}

.post-img{
  height:40px;
  width:auto;
  display:inline;
}

.post-heading{
  margin:0;
  text-transform: capitalize;  
  font-weight: bold;
}

.create-comment-box{
  overflow:hidden;
  padding:10px;
  width:50%;
  margin-bottom:20px;
}
.create-comment-textarea{
  margin-bottom:5px;
}
.comment{
  padding:10px;
}

.comment-username{
  font-size: 0.8em;
  color:grey;
}

.userdash{
  margin-bottom:20px;
}

.comment-actionbar > a{
  font-size:14px;
}
.create-post-btn
{
  width:100%;
}