<div>
  <button class="btn btn-primary create-post-btn" ng-if="!createPostCtrl.createMode"ng-click="createPostCtrl.toggleCreateMode()">
    Create a post
  </button>
  <div ng-if="createPostCtrl.createMode" class="panel panel-default">
    <div class="panel-heading">
      <h4>Create a post</h4>
      <input class="form-control" ng-model="createPostCtrl.form.title" type="text" name="title" placeholder="Title"/>
    </div>
    <div class="panel-body">
      <textarea ng-model="createPostCtrl.form.contents" class="createpost-contents form-control" name="contents" cols="40" rows="10">A new post</textarea>
      <div class="createpost-buttons pull-right">
        <button type="button" ng-click="createPostCtrl.toggleCreateMode()" class="btn btn-default">Cancel</button>
        <button type="button" ng-click="createPostCtrl.create()" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>